language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - 'hhvm'

env:
  - COMPOSER_OPTS=""
  - COMPOSER_OPTS="--prefer-lowest"

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

before_script:
  - composer self-update
  - composer update

script:
  - bin/phpunit --coverage-clover=coverage.clover

notifications:
  email:
    - brulics@gmail.com

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
